In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping

# Replace 'data\hrm 6 66 d.xls' with the path to your actual Excel file
file_path = 'data\hrm 6 66 d.xls'
sheet_name = 'รายงานรายละเอียดการจ่ายเงินเดือ' 
df = pd.read_excel(file_path, skiprows=7, sheet_name=sheet_name, header=None)


# Define column names
column_names = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9', 'Column10', 'Column11', 'Column12', 'Column13', 'Column14', 'Column15', 'Column16', 'Column17', 'Column18', 'Column19', 'Column20', 'Column21']

# Assign column names to the DataFrame
df.columns = column_names

# Display all columns without truncation and set precision for float columns
df = df.iloc[:-3]
df = df.fillna(0)
df[column_names[4:20]] = df[column_names[4:20]].astype(float)

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)


# Replace '.' with empty string in Column1
df['Column1'] = df['Column1'].str.replace(r'^\.*', '', regex=True)
# drop column
df = df.drop(columns=['Column21'], axis=1)

new_columns = []
for col_num in range(4, 20):
    new_col_name = f'New_{column_names[col_num]}'
    df[new_col_name] = df[column_names[col_num]].shift(-1)


df['Column2'] = df['Column1'].map(lambda x: product_id_mapping.get(x, {}).get('Costcenter'))

df['Column5'] = df['Column5'] + df['New_Column5']
df['Column6'] = df['Column6'] + df['New_Column6']
df['Column7'] = df['Column7'] + df['New_Column7']+df['Column8'] + df['New_Column8']
# df['Column8'] = df['Column8'] + df['New_Column8']
df['Column9'] = df['Column9'] + df['New_Column9']
df['Column10'] = df['Column10'] + df['New_Column10']
df['Column12'] = df['New_Column11']+ df['Column12']+df['New_Column12']+df['Column13']
df['Column13']=df['New_Column13']
df['Column18']= df['New_Column15']+df['New_Column16']+df['New_Column17']+df['Column18']

columns_to_drop = ['Column4','Column8','New_Column5', 'New_Column6', 'New_Column7', 'New_Column8', 'New_Column9','New_Column10','New_Column11','New_Column12','New_Column13','New_Column14','New_Column15','New_Column16','New_Column17','New_Column19','New_Column20']

df = df.drop(columns=columns_to_drop, axis=1)

df['Column2'] = df['Column2'].apply(lambda x: '{:.0f}'.format(x) if isinstance(x, float) else x)

index=df.columns.get_loc('Column6')
df.insert(index, 'Column7', df.pop('Column7'))

index=df.columns.get_loc('Column12')
df.insert(index, 'Column13', df.pop('Column13'))

index=df.columns.get_loc('Column15')
df.insert(index, 'Column16', df.pop('Column16'))

index=df.columns.get_loc('Column16')
df.insert(index, 'New_Column18', df.pop('New_Column18'))

df.rename(columns={'Column1': 'ประเภท', 'Column2': 'CC.', 'Column3': 'คน', 'Column5': 'เงินเดือน/ค่าจ้าง', 'Column7': 'ตำแหน่ง/วิชา', 'Column6': 'ค่าครองชีพ','Column9': 'ค่าล่วงเวลา','Column10': 'เบี้ยขยัน','Column11': 'โบนัส','Column13': 'ค่าทักษะ','Column12': 'รายได้อื่นๆ','Column14': 'รวมรายได้','Column14': 'รวมรายได้', 'New_Column18':'ประกันสังคม','Column16': 'กองทุน','Column15': 'ภาษี','Column17': 'สหกรณ์','Column18': 'หักอื่นๆ','Column19': 'รวมค่าใช้จ่าย','Column20': 'รายได้สุทธิ'}, inplace=True)


df = df.iloc[::2]
df = df.fillna(0)
# Display all columns without truncation and set precision for float columns
output_file = 'outdata/output.xlsx'
df.to_excel(output_file, index=False)

# Print the formatted DataFrame
print(df)

                                      ประเภท      CC.  คน  เงินเดือน/ค่าจ้าง  \
0                        ส่วนออกแบบรูปลักษณ์  5010299   4           95415.00
2                           หน่วยพัฒนาต้นแบบ  5010201   3           51810.00
4             ส่วนวิเคราะห์และออกแบบวิศวกรรม  5010199  14          346560.00
6                                  หน่วย PQC  4020201  18          194285.00
8                                   หน่วย QC  4020202  27          295445.00
10                          ส่วนประกันคุณภาพ  4020199   1           14245.00
12        หน่วย คลังสินค้า-โรงประกอบ (04-64)  4010206  13          146690.00
14  หน่วย คลังสินค้า-โรงผลิตชิ้นส่วน (04-64)  4010207  14          155365.00
16      หน่วย Logistic 1 - Machinery (04-64)  4010301  10          102704.00
18            หน่วย Logistic 2 - OEM (04-64)  4010302  15          147700.00
20                                  หน่วย M2  8110302  17          159660.00
22                                  หน่วย M3  8110303  34          361804.00
24                                    ส่วนสี  8110299   1            9990.00
26                                   หน่วย I  8110201  21          225945.00
28                                  หน่วย K2  8110207  28          300988.00
30                                  หน่วย J2  8110205  35          392080.00
32                          หน่วย V2 (07-63)  8110208  15          173100.00
34                          หน่วย J1 (07-63)  8110203  32          344478.00
36                      หน่วย ติดตั้งอุปกรณ์  8110103  38          410677.00
38                                  หน่วย SM  8110101   9           99275.00
40                                 หน่วย บี1  7110101  28          288294.00
42                                 หน่วย ซี4  7110103  22          248295.00
44                                 หน่วย เอฟ  7110102  25          262152.00
46                        ส่วนผลิตชิ้นส่วน 2  7110399   1           11480.00
48                                 หน่วย บี2  7110301  77          799900.00

    ตำแหน่ง/วิชา  ค่าครองชีพ  ค่าล่วงเวลา  เบี้ยขยัน  โบนัส  ค่าทักษะ  \
0       12500.00     3600.00         0.00     600.00   0.00      0.00
2           0.00     2700.00         0.00    1600.00   0.00      0.00
4       37200.00    12600.00     33475.00    5100.00   0.00      0.00
6           0.00    16200.00     61585.00    8000.00   0.00    210.00
8           0.00    24210.00     99092.00    9900.00   0.00      0.00
10          0.00      900.00      4575.00     500.00   0.00      0.00
12          0.00    11700.00     50856.00    6600.00   0.00      0.00
14       1500.00    12600.00     63510.00    5200.00   0.00    660.00
16          0.00     9000.00     22465.00    2300.00   0.00      0.00
18       1500.00    12600.00     36753.00    6200.00   0.00      0.00
20       1500.00    13530.00    118211.00    2800.00   0.00  15190.00
22       3000.00    28890.00     98206.00   14900.00   0.00  30030.00
24          0.00      900.00       771.00       0.00   0.00      0.00
26          0.00    18900.00     52105.00    9800.00   0.00   4490.00
28       1500.00    24596.00     81940.00   12400.00   0.00  27570.00
30       3000.00    31500.00     69608.00   17600.00   0.00  20740.00
32       3000.00    13500.00     36453.00    5300.00   0.00   6670.00
34       1500.00    28770.00     38019.00   13600.00   0.00  33600.00
36       4500.00    32565.00    101689.00   15700.00   0.00   8030.00
38          0.00     8100.00       403.00    2400.00   0.00      0.00
40          0.00    23145.00     66760.00    7700.00   0.00  19540.00
42          0.00    19800.00     86034.00   11700.00   0.00  21830.00
44          0.00    21570.00     80542.00    8800.00   0.00  16880.00
46          0.00      900.00      3018.00     600.00   0.00    780.00
48          0.00    68400.00    162914.00   33900.00   0.00  56170.00

    รายได้อื่นๆ  รวมรายได้  ประกันสังคม   กองทุน    ภาษี   สหกรณ์  หักอื่นๆ  \
0          0.00  112115.00      3000.00  3851.00  385.00     0.00    407.00
2          0.00   56110.00      2228.00  1504.00    0.00  5108.00    560.00
4        160.00  435095.00     10473.00 12723.00 4496.00  4284.00   7372.00
6       8290.00  288570.00     10526.00  7106.00    0.00  9997.00    360.00
8       1660.00  430307.00     15958.00 11420.00    0.00 27798.00    540.00
10         0.00   20220.00       750.00     0.00    0.00     0.00     20.00
12       390.00  216236.00      7920.00  7219.00    0.00   500.00    260.00
14      1430.00  240265.00      8354.00  6604.00    0.00 24701.00   1880.00
16       550.00  137019.00      5586.00  2872.00    0.00   500.00   1409.00
18      2880.00  207633.00      8093.00  5658.00    0.00  7692.00    480.00
20        90.00  310981.00      8722.00  4228.00    0.00  2745.00   8490.00
22       120.00  536950.00     19327.00  5591.00    0.00 10543.00  62602.00
24         0.00   11661.00       545.00   999.00    0.00     0.00     20.00
26         0.00  311240.00     12245.00  4823.00    0.00 14320.00    902.00
28         0.00  448994.00     16351.00  9846.00    0.00 19045.00  13842.00
30       180.00  534708.00     21236.00 15190.00    0.00 18409.00   1338.00
32         0.00  238023.00      9403.00  7030.00    0.00 23296.00    300.00
34         0.00  459967.00     18641.00 10557.00    0.00 15088.00    640.00
36       960.00  574121.00     22013.00 14456.00    0.00 23866.00   9874.00
38      1760.00  111938.00      5370.00  3713.00    0.00 11981.00    180.00
40     29810.00  435249.00     15595.00 10660.00    0.00 16246.00   2090.00
42         0.00  387659.00     12620.00  8469.00    0.00 11502.00    995.00
44      5940.00  395884.00     14188.00  8659.00    0.00 27532.00   9230.00
46         0.00   16778.00       619.00   574.00    0.00     0.00     20.00
48     72270.00 1193554.00     43427.00 14008.00    0.00 29498.00  54020.00

    รวมค่าใช้จ่าย  รายได้สุทธิ
0         7643.00    104472.00
2         9400.00     46710.00
4        39348.00    395747.00
6        27989.00    260581.00
8        55716.00    374591.00
10         770.00     19450.00
12       15899.00    200337.00
14       41539.00    198726.00
16       10367.00    126652.00
18       21923.00    185710.00
20       24185.00    286796.00
22       98063.00    438887.00
24        1564.00     10097.00
26       32290.00    278950.00
28       59084.00    389910.00
30       56173.00    478535.00
32       40029.00    197994.00
34       44926.00    415041.00
36       70209.00    503912.00
38       21244.00     90694.00
40       44591.00    390658.00
42       33586.00    354073.00
44       59609.00    336275.00
46        1213.00     15565.00
48      140953.00   1052601.00

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping

fileP = 'outdata\output2023-08-28_17-29-30.xlsx'
df=pd.read_excel(fileP)

df['คน'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('Costcenter'))

df_original = pd.DataFrame(df)

ids = df_original['ประเภท'].tolist()
ids_repeated = ids * 8

combined_data = []
for index, row in df_original.iterrows():
    combined_data.extend([row['เงินเดือน/ค่าจ้าง'], row['ค่าครองชีพ'], row['ตำแหน่ง/วิชา'], row['ค่าล่วงเวลา'], row['เบี้ยขยัน'], row['โบนัส'], row['รายได้อื่นๆ'], row['ค่าทักษะ']])

# loopCol = ['เงินเดือน/ค่าจ้าง','ค่าครองชีพ','ค่าล่วงเวลา']
# ids = ['ฝ่ายตรวจสอบภายใน และระบบงานคุณภาพ'] * 3  # Example IDs for demonstration
# column_names = ['เงินเดือน', 'ค่าครองชีพ', 'ค่าตำเเหน่ง']
# for i in loopCol:
#     print(i)
# id_value = 'ฝ่ายตรวจสอบภายใน และระบบงานคุณภาพ'
# column_name = 'Costcenter'
df_combined = pd.DataFrame({'ID': ids_repeated, 'Combined_Column': combined_data})
column_names=['เงินเดือน/ค่าจ้าง','ค่าครองชีพ','ตำแหน่ง/วิชา','ค่าล่วงเวลา','เบี้ยขยัน','โบนัส','รายได้อื่นๆ','ค่าทักษะ']
for id_value in ids_repeated:
    for column_name in column_names:
        data = product_id_mapping.get(id_value, {}).get(column_name)

print(df_combined)

                                 ID  Combined_Column
0               ส่วนออกแบบรูปลักษณ์            95415
1                  หน่วยพัฒนาต้นแบบ             3600
2    ส่วนวิเคราะห์และออกแบบวิศวกรรม            12500
3                         หน่วย PQC                0
4                          หน่วย QC              600
..                              ...              ...
195                       หน่วย บี1           162914
196                       หน่วย ซี4            33900
197                       หน่วย เอฟ                0
198              ส่วนผลิตชิ้นส่วน 2            72270
199                       หน่วย บี2            56170

[200 rows x 2 columns]

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping

fileP = 'outdata\output2023-08-28_17-29-30.xlsx'
df = pd.read_excel(fileP)

# Map 'ประเภท' to 'Costcenter' and create a new column 'คน'
df['คน'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('Costcenter'))

# Create a copy of the original DataFrame for reference
df_original = pd.DataFrame(df)

# Repeat the ids 8 times (assuming you have 8 repeated columns)
ids = df_original['ประเภท'].tolist()
ids_repeated = ids * 8

# Create a list of dictionaries to store the extended data
extended_data = []

# Loop through the original DataFrame and extend the data for each row
column_names=['เงินเดือน/ค่าจ้าง','ค่าครองชีพ','ตำแหน่ง/วิชา','ค่าล่วงเวลา','เบี้ยขยัน','โบนัส','รายได้อื่นๆ','ค่าทักษะ']
for index, row in df_original.iterrows():
    data_row = {
        
        'ID': row['ประเภท'],
        'Costcenter': product_id_mapping.get(row['ประเภท'], {}).get('Costcenter'),
        'Product': product_id_mapping.get(row['ประเภท'], {}).get('Product'),           
        }
    for col in column_names:
        data_row[col] = row[col]
    extended_data.extend([data_row] * 8)
        

# Create a new DataFrame using the extended data
new_df = pd.DataFrame(extended_data)
print(new_df)

# # Pivot the new DataFrame to get the desired format
# pivot_df = new_df.pivot(index='ID', columns=['Costcenter', 'Product'], values=['Value1', 'Value2', 'Value3', 'Value4'])

# # Reset the index
# pivot_df.reset_index(inplace=True)

# # Display the pivoted DataFrame
# print(pivot_df)

                      ID Costcenter Product  เงินเดือน/ค่าจ้าง  ค่าครองชีพ  \
0    ส่วนออกแบบรูปลักษณ์    5010299    1141              95415        3600
1    ส่วนออกแบบรูปลักษณ์    5010299    1141              95415        3600
2    ส่วนออกแบบรูปลักษณ์    5010299    1141              95415        3600
3    ส่วนออกแบบรูปลักษณ์    5010299    1141              95415        3600
4    ส่วนออกแบบรูปลักษณ์    5010299    1141              95415        3600
..                   ...        ...     ...                ...         ...
195            หน่วย บี2    7110301      00             799900       68400
196            หน่วย บี2    7110301      00             799900       68400
197            หน่วย บี2    7110301      00             799900       68400
198            หน่วย บี2    7110301      00             799900       68400
199            หน่วย บี2    7110301      00             799900       68400

     ตำแหน่ง/วิชา  ค่าล่วงเวลา  เบี้ยขยัน  โบนัส  รายได้อื่นๆ  ค่าทักษะ
0           12500            0        600      0            0         0
1           12500            0        600      0            0         0
2           12500            0        600      0            0         0
3           12500            0        600      0            0         0
4           12500            0        600      0            0         0
..            ...          ...        ...    ...          ...       ...
195             0       162914      33900      0        72270     56170
196             0       162914      33900      0        72270     56170
197             0       162914      33900      0        72270     56170
198             0       162914      33900      0        72270     56170
199             0       162914      33900      0        72270     56170

[200 rows x 11 columns]

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping

fileP = 'outdata/admin2023-09-05_08-59-32.xlsx'
df = pd.read_excel(fileP)
tryit= df.shape[0]
print(tryit)
ids = df['ประเภท'].tolist()
ids_repeated = ids * 8
column_names=['เงินเดือน/ค่าจ้าง','ค่าครองชีพ','ตำแหน่ง/วิชา','ค่าล่วงเวลา','เบี้ยขยัน','โบนัส','รายได้อื่นๆ','ค่าทักษะ']
combined_data = []



for index, row in df.iterrows():
    combined_data.extend([row['เงินเดือน/ค่าจ้าง'], row['ค่าครองชีพ'], row['ตำแหน่ง/วิชา'], row['ค่าล่วงเวลา'], row['เบี้ยขยัน'], row['โบนัส'], row['รายได้อื่นๆ'], row['ค่าทักษะ']])



# Create the new combined DataFrame 
df_combined = pd.DataFrame({
    'Column1': ids_repeated,
    'DR.': combined_data,
})
value = product_id_mapping.get('ส่วนออกแบบรูปลักษณ์', {}).get('salary')
print(value)


for col in column_names:
    for i in range(tryit):
        df_combined['รหัสบัญชี'] = df_combined['Column1'].apply(lambda x: product_id_mapping.get(x, {}).get(col))

# c=df_combined['Column1'].apply(lambda x: product_id_mapping.get(x, {}).get('ค่าครองชีพ'))

# print(c)


df_combined['CC#'] = df_combined['Column1'].map(lambda x: product_id_mapping.get(x, {}).get('Costcenter'))
df_combined['Product'] = df_combined['Column1'].map(lambda x: product_id_mapping.get(x, {}).get('Product'))

columns_to_drop=['Column1']
df_combined = df_combined.drop(columns=columns_to_drop, axis=1)

index=df_combined.columns.get_loc('DR.')
df_combined.insert(index, 'รหัสบัญชี', df_combined.pop('รหัสบัญชี'))

index=df_combined.columns.get_loc('DR.')
df_combined.insert(index, 'CC#', df_combined.pop('CC#'))

index=df_combined.columns.get_loc('DR.')
df_combined.insert(index, 'Product', df_combined.pop('Product'))



print(df_combined)

14
None
     รหัสบัญชี      CC# Product     DR.
0      8211110  2049900      00  183880
1      8211110  2029900      00    4500
2      8211110  2019900      00   17300
3      8211110  2039900      00       0
4      8211110  1990000      00    1200
..         ...      ...     ...     ...
107    8211110  3029900      00       0
108    8211110  3019900      00       0
109    8211110  1029900      00       0
110    8211110  2069900      00       0
111    8211110  1990000      00       0

[112 rows x 4 columns]

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping
value = product_id_mapping.get('ส่วนออกแบบรูปลักษณ์', {}).get('salary')
print(value)

8111101

In [ ]:
import glob

In [ ]:
print('ไทย')

ไทย

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping

# Replace 'data\hrm 6 66 d.xls' with the path to your actual Excel file
file_path = 'data\direct.xls'

 
df = pd.read_excel(file_path, skiprows=7, header=None)


# Define column names
column_names = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9', 'Column10', 'Column11', 'Column12', 'Column13', 'Column14', 'Column15', 'Column16', 'Column17', 'Column18', 'Column19', 'Column20', 'Column21']

df.columns = column_names

print(df)

                                              Column1  Column2       Column3  \
0                         ........ส่วนออกแบบรูปลักษณ์      NaN             4
1                                                 NaN      NaN           NaN
2                          ..........หน่วยพัฒนาต้นแบบ      NaN             3
3                                                 NaN      NaN           NaN
4              ........ส่วนวิเคราะห์และออกแบบวิศวกรรม      NaN            14
5                                                 NaN      NaN           NaN
6                                 ..........หน่วย PQC      NaN            19
7                                                 NaN      NaN           NaN
8                                  ..........หน่วย QC      NaN            27
9                                                 NaN      NaN           NaN
10                           ........ส่วนประกันคุณภาพ      NaN             1
11                                                NaN      NaN           NaN
12       ..........หน่วย คลังสินค้า-โรงประกอบ (04-64)      NaN            12
13                                                NaN      NaN           NaN
14  ..........หน่วย คลังสินค้า-โรงผลิตชิ้นส่วน (04...      NaN            15
15                                                NaN      NaN           NaN
16     ..........หน่วย Logistic 1 - Machinery (04-64)      NaN             8
17                                                NaN      NaN           NaN
18           ..........หน่วย Logistic 2 - OEM (04-64)      NaN            17
19                                                NaN      NaN           NaN
20                                 ..........หน่วย M2      NaN             9
21                                                NaN      NaN           NaN
22                                 ..........หน่วย M3      NaN            40
23                                                NaN      NaN           NaN
24                                     ........ส่วนสี      NaN             1
25                                                NaN      NaN           NaN
26                                  ..........หน่วย I      NaN            30
27                                                NaN      NaN           NaN
28                                 ..........หน่วย K2      NaN            22
29                                                NaN      NaN           NaN
30                                 ..........หน่วย J2      NaN            31
31                                                NaN      NaN           NaN
32                         ..........หน่วย V2 (07-63)      NaN            18
33                                                NaN      NaN           NaN
34                         ..........หน่วย J1 (07-63)      NaN            26
35                                                NaN      NaN           NaN
36                     ..........หน่วย ติดตั้งอุปกรณ์      NaN            37
37                                                NaN      NaN           NaN
38                                 ..........หน่วย SM      NaN             9
39                                                NaN      NaN           NaN
40                                ..........หน่วย บี1      NaN            28
41                                                NaN      NaN           NaN
42                                ..........หน่วย ซี4      NaN            24
43                                                NaN      NaN           NaN
44                                ..........หน่วย เอฟ      NaN            21
45                                                NaN      NaN           NaN
46                         ........ส่วนผลิตชิ้นส่วน 2      NaN             1
47                                                NaN      NaN           NaN
48                                ..........หน่วย บี2      NaN            73
49                                                NaN      NaN           NaN
50                                        รวมทั้งสิ้น    490.0  คน  เป็นเงิน
51                                                NaN      NaN           NaN
52                                       ผู้ออกรายงาน      NaN           NaN

    Column4   Column5  Column6  Column7    Column8   Column9  Column10  ...  \
0        คน   95415.0   3600.0      NaN    12500.0       NaN    1100.0  ...
1       NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
2        คน   51810.0   2700.0      NaN        NaN     546.0    1000.0  ...
3       NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
4        คน  343190.0  12600.0      NaN    37200.0   41222.0    6500.0  ...
5       NaN    2940.0    210.0      NaN        NaN       NaN       NaN  ...
6        คน  206240.0  17100.0   1500.0        NaN   55665.0    8900.0  ...
7       NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
8        คน  296475.0  24300.0      NaN        NaN  106833.0    9200.0  ...
9       NaN    -729.0    -64.0      NaN        NaN       NaN       NaN  ...
10       คน   14245.0    900.0      NaN        NaN    2461.0       NaN  ...
11      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
12       คน  136700.0  10800.0      NaN        NaN   39542.0    5800.0  ...
13      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
14       คน  160240.0  13500.0   1500.0        NaN   51425.0    5900.0  ...
15      NaN    -333.0    -30.0      NaN        NaN       NaN       NaN  ...
16       คน   71860.0   6300.0      NaN        NaN   23264.0    2100.0  ...
17      NaN       NaN      NaN      NaN        NaN     173.0       NaN  ...
18       คน  168959.0  14310.0   1500.0        NaN   47235.0    5700.0  ...
19      NaN    1408.0    120.0      NaN        NaN       NaN       NaN  ...
20       คน   98465.0   8100.0   1500.0        NaN   63381.0    3400.0  ...
21      NaN    -333.0    -30.0      NaN        NaN       NaN       NaN  ...
22       คน  433367.0  35220.0   3000.0        NaN  193685.0   15400.0  ...
23      NaN    2331.0    210.0      NaN        NaN       NaN       NaN  ...
24       คน    9990.0    900.0      NaN        NaN     306.0       NaN  ...
25      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
26       คน  320355.0  27000.0      NaN        NaN   66759.0   12500.0  ...
27      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
28       คน  234385.0  18900.0   1500.0        NaN   99408.0    8000.0  ...
29      NaN    -100.0     -8.0      NaN        NaN     347.0       NaN  ...
30       คน  351160.0  27900.0   3000.0        NaN  108167.0   16800.0  ...
31      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
32       คน  191266.0  15360.0   3000.0        NaN   43998.0    6200.0  ...
33      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
34       คน  273245.0  22500.0   1500.0        NaN   92012.0    9200.0  ...
35      NaN    -347.0    -30.0      NaN        NaN     522.0       NaN  ...
36       คน  424180.0  33300.0   4500.0        NaN  131273.0   14500.0  ...
37      NaN   -1278.0   -113.0      NaN        NaN       NaN       NaN  ...
38       คน   99275.0   8100.0      NaN        NaN    9463.0    3500.0  ...
39      NaN   -2964.0   -244.0      NaN        NaN       NaN       NaN  ...
40       คน  307795.0  24900.0      NaN        NaN  157168.0   10900.0  ...
41      NaN    -389.0    -22.0      NaN        NaN       NaN       NaN  ...
42       คน  266170.0  21600.0      NaN        NaN  134661.0   12700.0  ...
43      NaN     -42.0     -4.0      NaN        NaN     296.0       NaN  ...
44       คน  232020.0  18900.0      NaN        NaN   87781.0   10000.0  ...
45      NaN     513.0     45.0      NaN        NaN       NaN       NaN  ...
46       คน   11480.0    900.0      NaN        NaN    1290.0     500.0  ...
47      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...
48       คน  767790.0  65700.0      NaN        NaN   90188.0   29700.0  ...
49      NaN    1992.0    180.0      NaN        NaN       NaN       NaN  ...
50  5566077  435390.0  22500.0  49700.0  1647733.0  199500.0       NaN  ...
51     2669     220.0      NaN      NaN     1338.0       NaN       NaN  ...
52      NaN       NaN      NaN      NaN        NaN       NaN       NaN  ...

    Column12  Column13  Column14  Column15    Column16  Column17  Column18  \
0        NaN       NaN       NaN       NaN         NaN       NaN       NaN
1        NaN       NaN       NaN       NaN         NaN       NaN       NaN
2        NaN       NaN       NaN       NaN         NaN       NaN       NaN
3        NaN       NaN       NaN       NaN         NaN       NaN       NaN
4        NaN       NaN       NaN       NaN         NaN       NaN       NaN
5        NaN       NaN       NaN       NaN         NaN       NaN       NaN
6        NaN       NaN    7040.0       NaN          60       NaN       NaN
7        NaN       NaN       NaN       NaN         NaN       NaN       NaN
8        NaN       NaN       NaN       NaN         750      80.0       NaN
9        NaN       NaN       NaN       NaN         NaN       NaN       NaN
10       NaN       NaN       NaN       NaN         NaN       NaN       NaN
11       NaN       NaN       NaN       NaN         NaN       NaN       NaN
12       NaN       NaN       NaN       NaN         240       NaN       NaN
13       NaN       NaN       NaN       NaN         NaN       NaN       NaN
14       NaN       NaN    1760.0       NaN         840       NaN       NaN
15       NaN       NaN       NaN       NaN         NaN       NaN       NaN
16       NaN       NaN       NaN       NaN         NaN       NaN       NaN
17       NaN       NaN       NaN       NaN         NaN       NaN       NaN
18       NaN       NaN    3080.0       NaN          60       NaN       NaN
19       NaN       NaN       NaN       NaN         NaN       NaN       NaN
20       NaN       NaN       NaN       NaN         NaN       NaN    8520.0
21       NaN       NaN       NaN       NaN         NaN       NaN       NaN
22       NaN       NaN       NaN       NaN         NaN       NaN   33470.0
23       NaN       NaN       NaN       NaN         NaN       NaN       NaN
24       NaN       NaN       NaN       NaN         NaN       NaN       NaN
25       NaN       NaN       NaN       NaN         NaN       NaN       NaN
26       NaN       NaN       NaN       NaN         NaN       NaN   10340.0
27       NaN       NaN       NaN       NaN         NaN       NaN       NaN
28       NaN       NaN       NaN       NaN         NaN      80.0   23730.0
29       NaN       NaN       NaN       NaN         NaN       NaN       NaN
30       NaN       NaN       NaN       NaN         930       NaN   17430.0
31       NaN       NaN       NaN       NaN         NaN       NaN       NaN
32       NaN       NaN       NaN       NaN         NaN       NaN    6530.0
33       NaN       NaN       NaN       NaN         NaN       NaN       NaN
34       NaN       NaN       NaN       NaN         NaN       NaN   25120.0
35       NaN       NaN       NaN       NaN         NaN       NaN       NaN
36       NaN       NaN       NaN       NaN         120       NaN    8570.0
37       NaN       NaN       NaN       NaN         NaN       NaN       NaN
38       NaN       NaN       NaN       NaN         NaN       NaN       NaN
39       NaN       NaN       NaN       NaN         NaN       NaN       NaN
40       NaN       NaN   33550.0       NaN         NaN       NaN   20520.0
41       NaN       NaN       NaN       NaN         NaN       NaN       NaN
42       NaN       NaN       NaN       NaN         NaN       NaN   22980.0
43       NaN       NaN       NaN       NaN         NaN       NaN       NaN
44       NaN       NaN    5720.0       NaN         NaN       NaN   15930.0
45       NaN       NaN       NaN       NaN         NaN       NaN       NaN
46       NaN       NaN       NaN       NaN         NaN       NaN     600.0
47       NaN       NaN       NaN       NaN         NaN       NaN       NaN
48       NaN       NaN   60830.0       NaN         NaN       NaN   42190.0
49       NaN       NaN       NaN       NaN         NaN       NaN       NaN
50       NaN  111980.0       NaN    3000.0         160  235930.0  162556.0
51       NaN       NaN       NaN       NaN         NaN       NaN       NaN
52       NaN       NaN       NaN       NaN  ผู้ตรวจสอบ       NaN       NaN

    Column19  Column20  Column21
0     3851.0    3000.0       NaN
1        NaN       NaN       NaN
2     1504.0    2228.0       NaN
3        NaN       NaN       NaN
4    11924.0   10473.0       NaN
5        NaN       NaN       NaN
6     7371.0   11244.0       NaN
7        NaN       NaN       NaN
8    10916.0   15974.0       NaN
9        NaN       NaN       NaN
10       NaN     750.0       NaN
11       NaN       NaN       NaN
12    5865.0    7375.0       NaN
13       NaN       NaN       NaN
14    5469.0    8687.0       NaN
15       NaN       NaN       NaN
16    2156.0    3909.0       NaN
17       NaN       NaN       NaN
18    5358.0    9318.0       NaN
19       NaN       NaN       NaN
20    2698.0    5370.0       NaN
21       NaN       NaN       NaN
22    5561.0   23322.0       NaN
23       NaN       NaN       NaN
24     500.0     545.0       NaN
25       NaN       NaN       NaN
26    7903.0   17370.0       NaN
27       NaN       NaN       NaN
28    8028.0   12732.0       NaN
29       NaN       NaN       NaN
30   11159.0   19010.0       NaN
31       NaN       NaN       NaN
32    6406.0   10404.0       NaN
33       NaN       NaN       NaN
34    8492.0   14747.0       NaN
35       NaN       NaN       NaN
36   15243.0   22593.0       NaN
37       NaN       NaN       NaN
38    3624.0    5210.0       NaN
39       NaN       NaN       NaN
40   10871.0   16618.0       NaN
41       NaN       NaN       NaN
42    8137.0   13601.0       NaN
43       NaN       NaN       NaN
44    6832.0   12575.0       NaN
45       NaN       NaN       NaN
46     574.0     619.0       NaN
47       NaN       NaN       NaN
48   12114.0   41796.0       NaN
49       NaN       NaN       NaN
50  289470.0       NaN       NaN
51       NaN       NaN       NaN
52       NaN       NaN       NaN

[53 rows x 21 columns]

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping


file_path = 'data\indirect.xls'
df = pd.read_excel(file_path, skiprows=7, header=None)


column_names = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9', 'Column10', 'Column11', 'Column12', 'Column13', 'Column14', 'Column15', 'Column16', 'Column17', 'Column18', 'Column19', 'Column20', 'Column21']

df.columns = column_names

df = df.iloc[:-3]
df = df.fillna(0)
df[column_names[4:20]] = df[column_names[4:20]].astype(float)

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)


# Replace '.' with empty string in Column1
df['Column1'] = df['Column1'].str.replace(r'^\.*', '', regex=True)

df = df.drop(columns=['Column21'], axis=1)

new_columns = []
for col_num in range(4, 20):
    new_col_name = f'New_{column_names[col_num]}'
    df[new_col_name] = df[column_names[col_num]].shift(-1)

df = df.iloc[::2]
df['Column2'] = df['Column1'].map(lambda x: product_id_mapping.get(x, {}).get('Costcenter'))
df['รายได้อื่นๆ'] = df['Column12']+df['Column13'] +df['Column14']+df['Column15']+df['Column16']+df['Column17']
df['Column5'] = df['Column5'] + df['New_Column5']
df['Column6'] = df['Column6'] + df['New_Column6']
df['Column9'] = df['Column9'] + df['New_Column9']
df['Column10'] = df['Column10'] + df['New_Column10']
df['Column7'] = df['Column7'] + df['New_Column7'] + df['Column8'] + df['New_Column8']
df['Column8'] = df['Column5'] + df['Column6'] + df['Column7']+df['Column9']+df['Column10']+df['Column11']+df['Column12']+df['Column13']+df['Column14']+df['Column15']+df['Column16']+df['Column17']+df['Column18']



columns_to_drop = ['Column4','New_Column5','New_Column6','New_Column7','New_Column8','New_Column9','New_Column10','New_Column11','New_Column12','New_Column13','New_Column14','New_Column15','New_Column16','New_Column17','New_Column18','New_Column19','New_Column20']
df = df.drop(columns=columns_to_drop, axis=1)

index=df.columns.get_loc('Column18')
df.insert(index, 'Column8', df.pop('Column8'))

index=df.columns.get_loc('Column18')
df.insert(index, 'รายได้อื่นๆ', df.pop('รายได้อื่นๆ'))

df.rename(columns={'Column1': 'ประเภท', 'Column2': 'CC.', 'Column3': 'คน', 'Column5': 'เงินเดือน/ค่าจ้าง','Column6':'ค่าครองชีพ','Column7':'ตำแหน่ง/วิชา','Column8':'รวมรายได้','Column9':'ค่าล่วงเวลา','Column10':'เบี้ยขยัน','Column11':'โบนัส','Column12':'เงินรางวัล','Column13':'ค่าพาหนะ','Column14':'ค่ากะ','Column15':'เงินชดเชย','Column16':'ค่าเบี้ยเลี้ยง','Column17':'รับอื่นๆ','Column18':'ค่าทักษะ','Column19':'กองทุน','Column20':'ประกันสังคม'},inplace=True)



output_file = 'testOut/1test.xlsx'
df.to_excel(output_file, index=False)


print(df)

                                 ประเภท      CC.  คน  เงินเดือน/ค่าจ้าง  \
0   Thairung Engineering Center (04-64)  5990000   6          198400.00
2                     ฝ่ายวิจัยและพัฒนา  5019900   6          196900.00
4                 ฝ่ายวิศวกรรมการประกอบ  5049900  15          243210.00
6              ฝ่ายวิศวกรรมผลิตชิ้นส่วน  5039900  21          327235.00
8     ด้านการผลิต Manufacturing (04-64)  4990000  12          158035.00
10                     ฝ่ายประกันคุณภาพ  4029900  17          345344.00
12           ฝ่ายวางแผนและควบคุมการผลิต  4019900  32          582150.00
14                          ฝ่ายการผลิต  8119900  22          463815.00
16                     ฝ่ายผลิตชิ้นส่วน  7119900  31          462767.00
18                   ฝ่ายวิศวกรรมโรงงาน  5029900  26          530610.00

    ค่าครองชีพ  ตำแหน่ง/วิชา  ค่าล่วงเวลา  เบี้ยขยัน  โบนัส  เงินรางวัล  \
0      3600.00      31000.00      2291.00     500.00   0.00        0.00
2      3600.00      23900.00         0.00    1800.00   0.00        0.00
4     12592.00      31267.00     34852.00    5000.00   0.00        0.00
6     17100.00      45300.00     79444.00    8100.00   0.00        0.00
8     10800.00       8000.00     21357.00    4300.00   0.00        0.00
10    12540.00      44320.00     43151.00    5100.00   0.00        0.00
12    25800.00      49200.00    104905.00   12500.00   0.00        0.00
14    15300.00      73500.00     77874.00    6300.00   0.00        0.00
16    27030.00      42000.00     84682.00   13700.00   0.00        0.00
18    20700.00      42700.00    111473.00    9300.00   0.00        0.00

    ค่าพาหนะ   ค่ากะ  เงินชดเชย  ค่าเบี้ยเลี้ยง  รับอื่นๆ  รายได้อื่นๆ  \
0   19000.00    0.00       0.00            0.00      0.00     19000.00
2       0.00    0.00       0.00            0.00      0.00         0.00
4    1500.00    0.00       0.00         3600.00      0.00      5100.00
6       0.00    0.00       0.00            0.00      0.00         0.00
8       0.00    0.00       0.00            0.00      0.00         0.00
10   3000.00    0.00       0.00         4722.00      0.00      7722.00
12   2000.00    0.00       0.00         3580.00      0.00      5580.00
14      0.00    0.00       0.00            0.00      0.00         0.00
16      0.00 9765.00       0.00            0.00      0.00      9765.00
18   7000.00 9680.00       0.00         7760.00   5032.00     29472.00

    ค่าทักษะ  รวมรายได้   กองทุน  ประกันสังคม
0       0.00  254791.00  7922.00      3680.00
2       0.00  226200.00  8615.00      4500.00
4    2780.00  334801.00  7386.00     10549.00
6    6710.00  483889.00 10263.00     13789.00
8       0.00  202492.00  2880.00      7329.00
10      0.00  458177.00 11023.00     12543.00
12      0.00  780135.00 20905.00     23813.00
14    950.00  637739.00 14141.00     16462.00
16   9460.00  649404.00 21038.00     21490.00
18      0.00  744255.00 15735.00     19070.00

In [ ]:
import pandas as pd

from product_mapping import product_id_mapping


file_path = 'testOut/1test.xlsx'
df = pd.read_excel(file_path,)

column_names=['เงินเดือน/ค่าจ้าง','ค่าครองชีพ','ตำแหน่ง/วิชา','ค่าล่วงเวลา','เบี้ยขยัน','โบนัส','รายได้อื่นๆ','ค่าทักษะ']



for i,n in enumerate(column_names):
    
    df1 = df[['ประเภท','CC.',n]]
    df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
    df1.rename(columns={n:'นั้นเเหละครับ'})

C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
C:\Users\ITSanthiti\AppData\Local\Temp\ipykernel_1280\335793632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping

file_path = 'testOut/1.xlsx'
df = pd.read_excel(file_path)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# pd.set_option('display.float_format', '{:.2f}'.format)

column_names = ['เงินเดือน/ค่าจ้าง', 'ค่าครองชีพ', 'ตำแหน่ง/วิชา', 'ค่าล่วงเวลา', 'เบี้ยขยัน', 'โบนัส', 'รายได้อื่นๆ', 'ค่าทักษะ']

# Initialize an empty list to store the dataframes
dfs_to_concat = []

for i, n in enumerate(column_names):
    # Create a new dataframe for each column
    df1 = df[['ประเภท', 'CC.', n]].copy()  # Use .copy() to create a copy of the DataFrame
    df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(n))
    
    # Rename the column 'n' to 'เงิน'
    df1.rename(columns={n: 'เงิน'}, inplace=True)
    
    # Append the dataframe to the list
    dfs_to_concat.append(df1)

# Concatenate the dataframes vertically
result_df = pd.concat(dfs_to_concat)

result_df=result_df.drop(columns=['ประเภท'],axis=1)

# df = df.drop(columns=['Column21'], axis=1)
# result_df.to_excel('testOut/1out.xlsx', index=False)

# Now, result_df contains the concatenated data
print(result_df)

        CC.     เงิน      บัญชี
0   2049900   183880 8111101.00
1   2029900   364579 8111101.00
2   2019900   630280 8111101.00
3   2039900   265925 8111101.00
4   1990000  1793920 8111101.00
5   2059900   725800 8111101.00
6   2079900    70265 8111101.00
7   2069900   126585 8111101.00
8   3990000   190005 8111101.00
9   3029900   440070 8111101.00
10  3019900   117745 8111101.00
11  1029900    47635 8111101.00
12  2069900   192960 8111101.00
13  1990000    50000 8111101.00
14      รวม  5199649        NaN
0   2049900     4500 8211102.00
1   2029900     8996 8211102.00
2   2019900    15300 8211102.00
3   2039900     7200 8211102.00
4   1990000     8562 8211102.00
5   2059900    28800 8211102.00
6   2079900     1800 8211102.00
7   2069900     2700 8211102.00
8   3990000      900 8211102.00
9   3029900     8280 8211102.00
10  3019900     3600 8211102.00
11  1029900      900 8211102.00
12  2069900     2700 8211102.00
13  1990000        0 8211102.00
14      รวม    94238        NaN
0   2049900    17300 8211103.00
1   2029900    45483 8211103.00
2   2019900    92000 8211103.00
3   2039900    49400 8211103.00
4   1990000   103500 8211103.00
5   2059900    83200 8211103.00
6   2079900    13800 8211103.00
7   2069900    11000 8211103.00
8   3990000    20500 8211103.00
9   3029900    62500 8211103.00
10  3019900     7120 8211103.00
11  1029900     6450 8211103.00
12  2069900    21000 8211103.00
13  1990000        0 8211103.00
14      รวม   533253        NaN
0   2049900        0 8211104.00
1   2029900        0 8211104.00
2   2019900        0 8211104.00
3   2039900        0 8211104.00
4   1990000     1119 8211104.00
5   2059900   111567 8211104.00
6   2079900        0 8211104.00
7   2069900        0 8211104.00
8   3990000        0 8211104.00
9   3029900        0 8211104.00
10  3019900        0 8211104.00
11  1029900        0 8211104.00
12  2069900        0 8211104.00
13  1990000        0 8211104.00
14      รวม   112686        NaN
0   2049900     1200 8211105.00
1   2029900     3500 8211105.00
2   2019900     8900 8211105.00
3   2039900     2800 8211105.00
4   1990000     2700 8211105.00
5   2059900    16500 8211105.00
6   2079900      600 8211105.00
7   2069900      600 8211105.00
8   3990000      500 8211105.00
9   3029900     3900 8211105.00
10  3019900        0 8211105.00
11  1029900      600 8211105.00
12  2069900     1200 8211105.00
13  1990000        0 8211105.00
14      รวม    43000        NaN
0   2049900        0 8211201.00
1   2029900        0 8211201.00
2   2019900        0 8211201.00
3   2039900        0 8211201.00
4   1990000        0 8211201.00
5   2059900        0 8211201.00
6   2079900        0 8211201.00
7   2069900        0 8211201.00
8   3990000        0 8211201.00
9   3029900        0 8211201.00
10  3019900        0 8211201.00
11  1029900        0 8211201.00
12  2069900        0 8211201.00
13  1990000        0 8211201.00
14      รวม        0        NaN
0   2049900        0 8211111.00
1   2029900   238573 8211111.00
2   2019900        0 8211111.00
3   2039900     1000 8211111.00
4   1990000  1461567 8211111.00
5   2059900    32311 8211111.00
6   2079900        0 8211111.00
7   2069900        0 8211111.00
8   3990000        0 8211111.00
9   3029900     9000 8211111.00
10  3019900     4000 8211111.00
11  1029900     1667 8211111.00
12  2069900    10000 8211111.00
13  1990000        0 8211111.00
14      รวม  1758118        NaN
0   2049900        0 8211110.00
1   2029900        0 8211110.00
2   2019900        0 8211110.00
3   2039900        0 8211110.00
4   1990000        0 8211110.00
5   2059900        0 8211110.00
6   2079900        0 8211110.00
7   2069900        0 8211110.00
8   3990000        0 8211110.00
9   3029900        0 8211110.00
10  3019900        0 8211110.00
11  1029900        0 8211110.00
12  2069900        0 8211110.00
13  1990000        0 8211110.00
14      รวม        0        NaN

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# Concatenate vertically
result = pd.concat([df1, df2], axis=0)

print(result)

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping
import glob
import os

folder_path = "data/sep"
file_paths = glob.glob(os.path.join(folder_path, '*.xls'))

for fileN,file_path in enumerate(file_paths):
    df = pd.read_excel(file_path, skiprows=7,header=None)
    
    column_names = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9', 'Column10', 'Column11', 'Column12', 'Column13', 'Column14', 'Column15', 'Column16', 'Column17', 'Column18', 'Column19', 'Column20', 'Column21']
    df.columns = column_names

    df = df.iloc[:-3]
    df = df.fillna(0)
    df[column_names[4:20]] = df[column_names[4:20]].astype(float)

    pd.set_option('display.max_columns', None)
    pd.set_option('display.float_format', '{:.2f}'.format)


    # Replace '.' with empty string in Column1
    df['Column1'] = df['Column1'].str.replace(r'^\.*', '', regex=True)

    df = df.drop(columns=['Column21'], axis=1)

    new_columns = []
    for col_num in range(4, 20):
        new_col_name = f'New_{column_names[col_num]}'
        df[new_col_name] = df[column_names[col_num]].shift(-1)

    df = df.iloc[::2]
    df['Column2'] = df['Column1'].map(lambda x: product_id_mapping.get(x, {}).get('Costcenter'))
    df['รายได้อื่นๆ'] = df['Column12']+df['Column13'] +df['Column14']+df['Column16']+df['Column17']
    df['Column5'] = df['Column5'] + df['New_Column5']
    df['Column6'] = df['Column6'] + df['New_Column6']
    df['Column7'] = df['Column7'] + df['New_Column7'] + df['Column8'] + df['New_Column8']
    df['Column9'] = df['Column9'] + df['New_Column9']
    df['Column10'] = df['Column10'] + df['New_Column10']

    df['Column8'] = df['Column5'] + df['Column6'] + df['Column7']+df['Column9']+df['Column10']+df['Column11']+df['Column12']+df['Column13']+df['Column14']+df['Column15']+df['Column16']+df['Column17']+df['Column18']


    columns_to_drop = ['Column4','New_Column5','New_Column6','New_Column7','New_Column8','New_Column9','New_Column10','New_Column11','New_Column12','New_Column13','New_Column14','New_Column15','New_Column16','New_Column17','New_Column18','New_Column19','New_Column20']
    df = df.drop(columns=columns_to_drop, axis=1)

    index=df.columns.get_loc('Column18')
    df.insert(index, 'Column8', df.pop('Column8'))

    index=df.columns.get_loc('Column18')
    df.insert(index, 'รายได้อื่นๆ', df.pop('รายได้อื่นๆ'))

    df.rename(columns={'Column1': 'ประเภท', 'Column2': 'CC.', 'Column3': 'คน', 'Column5': 'เงินเดือน/ค่าจ้าง','Column6':'ค่าครองชีพ','Column7':'ตำแหน่ง/วิชา','Column8':'รวมรายได้','Column9':'ค่าล่วงเวลา','Column10':'เบี้ยขยัน','Column11':'โบนัส','Column12':'เงินรางวัล','Column13':'ค่าพาหนะ','Column14':'ค่ากะ','Column15':'เงินชดเชย','Column16':'ค่าเบี้ยเลี้ยง','Column17':'รับอื่นๆ','Column18':'ค่าทักษะ','Column19':'กองทุน','Column20':'ประกันสังคม'},inplace=True)

# Create a new row with the total people
    total_row = pd.DataFrame({'CC.': ['รวม'], 'คน': [df['คน'].sum()], 'เงินเดือน/ค่าจ้าง': [df['เงินเดือน/ค่าจ้าง'].sum()], 'ค่าครองชีพ': [df['ค่าครองชีพ'].sum()], 'ตำแหน่ง/วิชา': [df['ตำแหน่ง/วิชา'].sum()], 'รวมรายได้': [df['รวมรายได้'].sum()], 'ค่าล่วงเวลา': [df['ค่าล่วงเวลา'].sum()], 'เบี้ยขยัน': [df['เบี้ยขยัน'].sum()], 'โบนัส': [df['โบนัส'].sum()], 'เงินรางวัล': [df['เงินรางวัล'].sum()], 'ค่าพาหนะ': [df['ค่าพาหนะ'].sum()], 'ค่ากะ': [df['ค่ากะ'].sum()], 'เงินชดเชย': [df['เงินชดเชย'].sum()], 'ค่าเบี้ยเลี้ยง': [df['ค่าเบี้ยเลี้ยง'].sum()], 'รับอื่นๆ': [df['รับอื่นๆ'].sum()], 'ค่าทักษะ': [df['ค่าทักษะ'].sum()], 'รายได้อื่นๆ': [df['รายได้อื่นๆ'].sum()], 'กองทุน': [df['กองทุน'].sum()], 'ประกันสังคม': [df['ประกันสังคม'].sum()]})
    
    df = pd.concat([df, total_row], ignore_index=True)

    # Create a new DataFrame with the total_row
    df.to_excel('holder/{}.xlsx'.format(fileN),index=False)

In [ ]:
def keep_first_o_i_t(lst):
    
    found = {'เงินเดือน/ค่าจ้าง': False, 'ค่าครองชีพ': False, 'ตำแหน่ง/วิชา': False, 'ค่าล่วงเวลา': False, 'เบี้ยขยัน': False, 'โบนัส': False, 'รายได้อื่นๆ': False, 'ค่าทักษะ': False, 'เงินชดเชย': False}
    result = []
    
    for val in lst:
        if val in found:
            if not found[val]:
                found[val] = True
                result.append(val)
            else:
                result.append('')
        else:
            result.append('')
    
    return result

In [ ]:
import pandas as pd
from product_mapping import product_id_mapping
import glob
import os

folder_path = 'holder'
file_paths = glob.glob(os.path.join(folder_path, '*.xlsx'))

column_names = ['เงินเดือน/ค่าจ้าง', 'ค่าครองชีพ', 'ตำแหน่ง/วิชา', 'ค่าล่วงเวลา', 'เบี้ยขยัน', 'โบนัส', 'รายได้อื่นๆ', 'ค่าทักษะ','เงินชดเชย']
all_dataframes = [] 
conca2=[]
conca3=[]

for file_path in file_paths:
    df = pd.read_excel(file_path,)
    df = df.iloc[:-1]

    dfs_to_concat = [] # List to hold dataframes for each column

    for column_name in column_names:
        df1 = df[['ประเภท', 'CC.', column_name]].copy()
        df1['ชื่อบัญชี']=column_name
        df1['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get(column_name))
        df1.rename(columns={column_name: 'จำนวนเงิน'}, inplace=True)
        df1['prod.'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('Product'))
        index=df1.columns.get_loc('CC.')
        df1.insert(index, 'บัญชี', df1.pop('บัญชี'))
        index = df1.columns.get_loc('จำนวนเงิน')
        df1.insert(index, 'prod.', df1.pop('prod.'))
        index = df1.columns.get_loc('ประเภท')
        df1.insert(index, 'ชื่อบัญชี', df1.pop('ชื่อบัญชี'))
        dfs_to_concat.append(df1)
        
        
    # Concatenate dataframes for this file and append to all_dataframes
    result_df = pd.concat(dfs_to_concat)
    all_dataframes.append(result_df)
    
    df2 = df[['ประเภท', 'CC.', 'กองทุน']].copy()
    df2['ชื่อบัญชี'] = 'กองทุน'
    df2['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('กองทุน'))
    df2.rename(columns={'กองทุน': 'จำนวนเงิน'}, inplace=True)
    df2['prod.'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('Product'))
    index=df2.columns.get_loc('CC.')
    df2.insert(index, 'บัญชี', df2.pop('บัญชี'))
    index = df2.columns.get_loc('จำนวนเงิน')
    df2.insert(index, 'prod.', df2.pop('prod.'))
    index = df2.columns.get_loc('ประเภท')
    df2.insert(index, 'ชื่อบัญชี', df2.pop('ชื่อบัญชี'))
    conca2.append(df2)

    df3 = df[['ประเภท', 'CC.', 'ประกันสังคม']].copy()
    df3['ชื่อบัญชี'] = 'ประกันสังคม'
    df3['บัญชี'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('ประกันสังคม'))
    df3.rename(columns={'ประกันสังคม': 'จำนวนเงิน'}, inplace=True)
    df3['prod.'] = df['ประเภท'].map(lambda x: product_id_mapping.get(x, {}).get('Product'))
    index=df3.columns.get_loc('CC.')
    df3.insert(index, 'บัญชี', df3.pop('บัญชี'))
    index = df3.columns.get_loc('จำนวนเงิน')
    df3.insert(index, 'prod.', df3.pop('prod.'))
    index = df3.columns.get_loc('ประเภท')
    df3.insert(index, 'ชื่อบัญชี', df3.pop('ชื่อบัญชี'))
    conca3.append(df3)
    
soc = pd.concat(conca3, ignore_index=True)   
pf = pd.concat(conca2 , ignore_index=True) 
final = pd.concat(all_dataframes, ignore_index=True)

template =pd.read_excel('template.xlsx')
cce = pd.concat([final, template], ignore_index=True)

cce.to_excel('test/นี้.xlsx',index=False)
pf.to_excel('test/pf.xlsx',index=False)
soc.to_excel('test/soc.xlsx', index=False)

In [ ]:
import pandas as pd
import glob
import os

# Define the file paths for your Excel files
excel_file_paths = 'testOut'
file_path= glob.glob(os.path.join(excel_file_paths,'*.xlsx'))

# Initialize an empty list to store DataFrames
dfs = []

# Loop through each Excel file
for excel_file_path in file_path:
    # Read data from the Excel file into a DataFrame
    df = pd.read_excel(excel_file_path)
    
    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames vertically into one DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

merged_df.to_excel('try.xlsx',index=False)

# Now, merged_df contains the combined data from all three Excel files

In [ ]:
import shutil
from datetime import datetime
current_datetime = datetime.now()
# formatted_datetime = current_datetime.strftime("%Y-%m-%d %H:%M:%S")
directory='outfinal/sep_{}'.format(formatted_datetime)
print(directory)
if os.path.exists(directory):
                # If it exists, remove the directory and its contents
    shutil.rmtree(directory)
os.makedirs(directory)
print(f"Directory '{directory}' created or overwritten successfully.")

outfinal/sep_2023-09-11 16:38:48

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'outfinal/sep_2023-09-11 16:38:48'

In [ ]:
import shutil
from datetime import datetime

current_datetime = datetime.now()
formatted_datetime = current_datetime.strftime("%Y-%m-%d_%H-%M-%S")  # Use underscores instead of colons
directory = f'outfinal/sep_{formatted_datetime}'  # Use forward slash or backslash as needed

if os.path.exists(directory):
    # If it exists, remove the directory and its contents
    shutil.rmtree(directory)

os.makedirs(directory)
print(f"Directory '{directory}' created or overwritten successfully.")

Directory 'outfinal/sep_2023-09-11_16-39-23' created or overwritten successfully.

In [ ]:
import openpyxl
from openpyxl.styles import Font
import glob

folder_path = 'data/sep1'
file_paths = glob.glob(os.path.join(folder_path, '*.xls'))

for file in file_path:
    wb = openpyxl.load_workbook(file)
    font_style = Font(name='Calibri',size=11)
    wb.style = font_style
    wb.save(file)

InvalidFileException: openpyxl does not support  file format, please check you can open it with Excel first. Supported formats are: .xlsx,.xlsm,.xltx,.xltm

In [ ]:
import openpyxl
from openpyxl.styles import Font
import glob

folder_path = 'data/sep1'
file_paths = glob.glob(os.path.join(folder_path, '*.xls'))

for file_path in file_paths:
    wb = openpyxl.load_workbook(file_path)

    # Iterate through all sheets in the workbook
    for sheet_name in wb.sheetnames:
        sheet = wb[sheet_name]

        # Iterate through all cells in the sheet
        for row in sheet.iter_rows():
            for cell in row:
                # Apply the font style to the cell
                cell.font = Font(name='Calibri', size=11)

    # Save the modified workbook
    wb.save(file_path)

InvalidFileException: openpyxl does not support the old .xls file format, please use xlrd to read this file, or convert it to the more recent .xlsx file format.

In [ ]:
import pandas as pd

file = 'template.xlsx'
df = pd.read_excel(file)
print(df)

                     ชื่อบัญชี  \
0              C/A SCB ซอย 114
1              C/A SCB ซอย 114
2                เจ้าหนี้อื่นๆ
3                เจ้าหนี้อื่นๆ
4                เจ้าหนี้อื่นๆ
5                เจ้าหนี้อื่นๆ
6                เจ้าหนี้อื่นๆ
7                เจ้าหนี้อื่นๆ
8                เจ้าหนี้อื่นๆ
9                เจ้าหนี้อื่นๆ
10  ภาษีหัก ณ ที่จ่าย ค้างจ่าย
11             เงินประกันสังคม
12    เงินกองทุนสำรองเลี้ยงชีพ
13          สวัสดิการสงเคราะห์
14          เงินสหกรณ์ค้างจ่าย
15     ลูกหนี้เงินเบิกล่วงหน้า
16                ลูกหนี้อื่นๆ
17                ลูกหนี้อื่นๆ
18                ลูกหนี้อื่นๆ
19     รายได้อื่นๆ - ไม่มี vat
20    รายได้ชดเชย - ค่าเสียหาย
21           เงินฝาก S/A - SCB
22           เงินฝาก S/A - SCB
23           เงินฝาก S/A - SCB

                                               ประเภท    บัญชี  CC.  prod.  \
0                   โอนเงินเดือน > SCB ประจำรอบ…...คน  1114011  NaN    NaN
1                 โอนเงินเดือน > ต่างธนาคาร....... คน  1114011  NaN    NaN
2     ระงับการโอนเงินเดือน - ต่างด้าวไม่มีบัญชี…...คน  2145201  NaN    NaN
3         ระงับการโอนเงินเดือน - พนักงานขาดงาน.... คน  2145201  NaN    NaN
4               บัญชีถูกปิด ไม่สามารถโอนเงินได้…...คน  2145201  NaN    NaN
5             เงินค่าปรับพนักงานไม่เข้าร่วมงานวันเกิด  2145201  NaN    NaN
6                                        กรมบังคับคดี  2145201  NaN    NaN
7                                     ค่าไปรษณีย์ EMS  2145201  NaN    NaN
8                เงินกู้ยืมเพื่อการศึกษา(กยส.)=…...คน  2145201  NaN    NaN
9            เงินกู้ยืมพนักงาน จ่ายคืน TAP งวดสุดท้าย  2145201  NaN    NaN
10                                                NaN  2143210  NaN    NaN
11                                     ส่วนของพนักงาน  2145101  NaN    NaN
12                                     ส่วนของพนักงาน  2145102  NaN    NaN
13                 พนักงานเสียชีวิต (ต่างด้าว)…...ราย  2145103  NaN    NaN
14                                       หักจากสมาชิก  2145104  NaN    NaN
15                               ค่าความเสียหายบริษัท  1164102  NaN    NaN
16                    หักเงินยืมทดรอง หน่วย U ลาออก -  1164103  NaN    NaN
17                    คืนเงินยืมทดรอง หน่วย U ประจำปี  1164103  NaN    NaN
18                    หักค่าเดินเรื่องเอกสาร ต่างด้าว  1164103  NaN    NaN
19               หักค่าแรงพนักงานลาออก - ขาดงาน…...คน  4309140  NaN    NaN
20                                  หักค่าความเสียหาย  4309305  NaN    NaN
21     หักค่าชุดฟอร์ม / รองเท้า - ซื้อเชื่อ+พนง.ลาออก  1112011  NaN    NaN
22                     หักค่าบัตรประจำตัว - พนง.ลาออก  1112011  NaN    NaN
23  หักค่าวัสดุสิ้นเปลือง >แว่นตา,ตลับเมตร  - คนลาออก  1112011  NaN    NaN

     DR.  CR.
0    NaN  NaN
1    NaN  NaN
2    NaN  NaN
3    NaN  NaN
4    NaN  NaN
5    NaN  NaN
6    NaN  NaN
7    NaN  NaN
8    NaN  NaN
9    NaN  NaN
10   NaN  NaN
11   NaN  NaN
12   NaN  NaN
13   NaN  NaN
14   NaN  NaN
15   NaN  NaN
16   NaN  NaN
17   NaN  NaN
18   NaN  NaN
19   NaN  NaN
20   NaN  NaN
21   NaN  NaN
22   NaN  NaN
23   NaN  NaN

In [1]:
import os
folder_path = input('Pls type a directory name :')
if os.path.exists('data\{}'.format(folder_path)):
    print('sdsd')
else:
    print('sdsdeu4o2')

sdsdeu4o2

In [7]:
def number_to_string(argument):
    match argument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            raise ValueError("Invalid choice. Program will stop.")
  
try:
    choice = input()
    result = number_to_string(choice)
    print(f"The result for choice {choice} is: {result}")
except ValueError as e:
    print(e)
print('sdsd')

Invalid choice. Program will stop.
sdsd

In [4]:
from mapping.Trt_mapping import product_id_mapping_Trt
product_id_mapping = product_id_mapping_Trt

package3 = 'mapping.Trt_mapping' in globals()

if package3:
    print('true')